*.pyc
__pycache__/
*.so
*.o
*.a
*.os
.sconsign.dblite
scons_cache/
prebuilt/
/tools/joystick/
/tools/replay/
/tools/camerastream/
/panda/board/obj/
/panda/board/test.o
/panda/board/*.bin
/panda/board/*.elf
/panda/board/*.hex
/selfdrive/ui/installer/installer
/selfdrive/ui/qt/offroad/onboarding
/selfdrive/ui/qt/offroad/offroad
/selfdrive/ui/qt/window
